:root {
  --primary-color: #1db954;
  --color-background: #3e3e3e;
  --color-text: #ffffff;
  --color-text-secondary: #a8a8a8;
  --color-dark: #171717;
  --light-color: #f5f5f5;
  --border-light-color: #e1e1e1;
  --secondary-color-background: #3c3c3c;
  --button-red: #ff5f57;
  --button-yellow:#ffbd2e;
  --button-green: #28c940;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

/* --- IDs --- */
#user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: large;
  font-weight: bold;
}

#imgUser {
  height: 40px;
}

#add-to-queue {
  margin-left: 5px;
}

#add-to-queue-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 550px;
  width: 85vw;
  background-color: var(--light-color);
  margin: 0 auto;
  border-radius: 10px;
  color: var(--color-dark);
  box-shadow: 0px 0px 8px var(--primary-color);
  animation: bounceIn 0.8s ease-out;
}

#add-to-queue-form div {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#add-to-queue-form label {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

#add-to-queue-form input[type='text'] {
  border: 2px solid var(--border-light-color);
  width: 100%;
  padding: 8px;
  border-radius: 5px
}

#add-to-queue-form input[type='file'] {
  border: 2px solid var(--border-light-color);
  width: 100%;
  color: var(--light-color);
  padding: 8px;
  border-radius: 5px
}

#close-button {
  all: unset;
  align-self: flex-start;
  font-size: 32px;
}

#close-button:hover i {
  color: var(--primary-color);
}

#songs-container {
  overflow-y: auto;
  height: 90%;
}

#songs-container::-webkit-scrollbar {
  width: 4px;
}

#songs-container::-webkit-scrollbar-track {
  background: var(--color-dark);
}

#songs-container::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 4px;
}

#song-list-container {
  height: 80%;
  box-shadow: 0px -10px 100px black;
  padding: 0px 16px 0px 16px;
  background-color: #262626;
}

#coverInfo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* --- CLASES --- */

.app-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  background-color: var(--color-dark);
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 30%;
  justify-content: space-between;
}

.window-controls {
  display: flex;
  gap: 8px;
  padding: 12px;
}

.control-dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.control-dot:nth-child(1) {
  background: #ff5f57;
}

.control-dot:nth-child(2) {
  background: #ffbd2e;
}

.control-dot:nth-child(3) {
  background: #28c940;
}

.filtros-container {
  background-color: var(--color-background);
  margin: 8px;
  padding: 4px;
  border-radius: 8px;
}

.filtros {
  color: var(--color-text-secondary);
  font-size: 14px;
}

.currentMusic {
  height: 40%;
  width: 100%;
  background: #262626;
  align-self: flex-end;
}

.main-content {
  background-color: var(--color-background);
  height: 90%;
  flex: 1;
  box-shadow: -5px 0px 4px black;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding: 0px 24px 0px 24px;
}

.search-container {
  position: relative;
}

.search-container i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--color-dark);
  cursor: pointer;
  transition: color 0.3s;
}

.search-bar {
  width: 200px;
  padding: 4px 38px;
  border-radius: 20px;
  border: none;
  background-color: var(--color-text);
  color: var(--color-text-secondary);
  font-size: 14px;
}

.user-controls {
  display: flex;
  justify-content: space-between;
  height: 10%;
  padding: 0px 24px 0px 24px;
}

.green-button {
  padding: 12px 36px;
  border-radius: 20px;
  border: none;
  background-color: var(--primary-color);
  color: var(--color-text);
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;

}

.green-button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.songs-header {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr 1fr;
  padding: 8px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  align-items: center;
}

.songs-header span {
  color: var(--color-text-secondary);
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.player {
  background-color: var(--secondary-color-background);
  padding: 0px 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 10%;
  box-shadow: 0px -5px 20px black;
}

.player-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.current-song {
  display: flex;
  align-items: center;
  height: 100%;
  width: 20%;
}

.song-item {
  justify-content: space-between;
  grid-template-columns: 1fr 4fr 4fr 1fr 1fr;
  display: grid;
  align-items: center;
  padding: 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  height: 48px;
  cursor: pointer;
}

.song-item:hover {
  background-color: #171717;
  transition: background-color 0.5s ease;
}

.song-item-active {
  background-color: var(--secondary-color-background);
}

.song-info {
  height: 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.song-name {
  color: var(--color-text);
  font-size: 14px;
}

.artist-name {
  color: var(--color-text-secondary);
  font-size: 12px;
}

.center-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 60%;
}

.player-controls {
  display: flex;
  align-items: center;
  gap: 24px;
}

.control-button {
  background: none;
  border: none;
  color: var(--color-text);
  cursor: pointer;
  font-size: 24px;
}

.control-button:hover i {
  transform: scale(1.2);
  transition: transform 0.2s ease;
}

.play-button {
  font-size: 32px;
}

.progress-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.time {
  color: var(--color-text-secondary);
  font-size: 12px;
  min-width: 35px;
}

.progress-bar {
  flex-grow: 1;
  height: 6px;
  background: #a7a7a7;
  border-radius: 5px;
  overflow: hidden;
}

.volume-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 20%;
}

.volume-bar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 100px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.volume-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 6px;
  width: 6px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #171717;
}

.volume-bar::-webkit-slider-runnable-track {
  background: linear-gradient(to right,
      #171717 0%,
      #171717 var(--range-progress, 50%),
      #a7a7a7 var(--range-progress, 50%),
      #a7a7a7 100%);
  height: 6px;
}

.volume-controls i {
  color: var(--color-text-secondary);
  font-size: 18px;
}

.modal-container {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 90%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.fav-button {
  all: unset;
  color: var(--primary-color);
  font-size: 24px;
  justify-self: center;
}

.error-message {
  color: red;
  font-size: 0.9em;
}

.progress-bar::-webkit-progress-value {
  background-color: var(--color-dark);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.play-icon {
  background-color: var(--primary-color);
  border-radius: 50px;
  padding: 5px;
  font-size: 24px;
  box-shadow: 0px 2px 4px black;
}

.song-item .play-song-button {
  opacity: 0;
  transition: opacity 0.3s linear;
}

.song-item:hover .play-song-button {
  opacity: 1;
}

.bx-time-five {
  font-size: 24px;
}

/* --- ETIQUETAS GENÉRICAS --- */

body {
  background-color: var(--color-dark);
  color: var(--color-text);
}

h1 {
  color: var(--color-text);
  font-size: 32px;
  font-weight: bold;
}

span {
  text-shadow: 2px 2px 1px black;
}

i {
  text-shadow: initial;
}

details {
  padding: 4px;
  color: var(--color-text-secondary);
}

details p {
  cursor: pointer;
  font-weight: bold;
  margin: 8px;
}

details p:hover {
  color: var(--color-text);
}

/* --- ANIMACIONES --- */

@keyframes bounceIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  40% {
    transform: scale(1.2);
    opacity: 1;
  }

  60% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

/* --- DISEÑO RESPONSIVE --- */

/* Móvil pequeño */
@media (max-width: 360px) {

  .app-container {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .top-bar {
    display: none;
  }

  .user-controls {
    display: none;
  }

  .main-content {
    height: 40%;
  }

  .volume-controls {
    display: none;
  }

  .sidebar {
    justify-content: flex-start;
    width: 100%;
    height: 40%;
  }

  .currentMusic {
    align-self: flex-start;
    height: 63%;
  }

  .player {
    height: 15%;
  }

  .player-content {
    flex-direction: column;
  }

  .song-info {
    padding: 0px;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  .song-item {
    grid-template-columns: 1fr 4fr 4fr 2fr 2fr;
    font-size: 13px;
  }

  .songs-header {
    grid-template-columns: 1fr 4fr 4fr 2fr 2fr;
    font-size: 14px;
  }

  .artist-name {
    font-size: 16px;
  }

  #song-list-container {
    height: 100%;
  }

  .current-song {
    width: 100%;
  }

  .center-controls {
    width: 70%;
  }

  .time {
    text-align: center;
  }

  .play-button {
    font-size: 36px;
  }
}

/* Movil grande */
@media (min-width: 367px) and (max-width: 1439px) {
  .app-container {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .top-bar {
    display: none;
  }

  .user-controls {
    display: none;
  }

  .main-content {
    height: 40%;
  }

  .volume-controls {
    display: none;
  }

  .sidebar {
    justify-content: flex-start;
    width: 100%;
    height: 40%;
  }

  .currentMusic {
    align-self: flex-start;
    height: 74%;
  }

  .player {
    height: 15%;
  }

  .player-content {
    flex-direction: column;
  }

  .song-info {
    padding: 0px;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  .song-item {
    grid-template-columns: 1fr 4fr 4fr 2fr 2fr;
    font-size: 14px;
  }

  .songs-header {
    grid-template-columns: 1fr 4fr 4fr 2fr 2fr;
  }

  #song-list-container {
    height: 100%;
  }

  .current-song {
    width: 100%;
    height: 25%;
  }

  .center-controls {
    width: 70%;
    justify-content: center;
  }

  .time {
    text-align: center;
  }

  .play-button {
    font-size: 48px;
  }

  .song-name, .artist-name{
    font-size: 16px;
  }
}